@cit:registry=https://us-central1-npm.pkg.dev/citelis-cloud/footer-universal-citelis-component/
//us-central1-npm.pkg.dev/citelis-cloud/footer-universal-citelis-component/:_authToken=ya29.a0AfB_byCOhxHYdp3q4MgTS2RyePAmtZrKbJJPaaHBVlfo6QaZXLB9GmxfGtvGyx3T_yvhCWvzS_V69GyTqO-d8GDn3gItse6_TD-StMjgLlRkB6f6AzfpXOfNcgYdSbBHwskFNExiXl6b8HOAn1AYZ69ptVdw6dbahp1lLSEaCgYKAQwSARESFQHsvYlsnmUx2yx8nxgRMrh2yRF_jQ0174 --global
