@SCOPE:registry=https://us-central1-npm.pkg.dev/citelis-cloud/footer-universal-citelis-component/
//us-central1-npm.pkg.dev/citelis-cloud/footer-universal-citelis-component/:always-auth=true

# //npm.pkg.github.com/:_authToken=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
#   registry=https://registry.npmjs.org  