.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(6, 26, 44);
    color: white;
    text-align: center;
  }

  .footerBottom{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    height: 40em;
    width: 100%;
    background-color: rgb(240, 240, 240);
    color: white;
    text-align: center;
  }